

@model MobileEra.Models.mobile


<div class="row" style="margin-top:10px">
    <div class="col-md-8 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Add Mobile</h2>
                <hr class="colorgraph" />
            </div>
            <div class="panel-body">
                <form role="form" action="/Admin/updateMobileDone" method="post" enctype="multipart/form-data">
                    @Html.LabelFor(x=>x.Made)
                    <div class="form-group">
                        <select  class="form-control">
                            <option value="Nokia">Nokia</option>
                            <option value="Samsung">Samsung</option>
                            <option value="">Nokia</option>
                            <option value="Nokia">Nokia</option>
                            <option value="Nokia">Nokia</option>
                            <option value="Nokia">Nokia</option>
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Model)
                        @Html.TextBoxFor(x => x.Model, new { @class = "form-control", placeholder = "Model",value=Model.Model })
                        @Html.ValidationMessageFor(x => x.Model)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x=>x.OS)
                        @Html.TextBoxFor(x => x.OS, new { @class = "form-control", placeholder = "Operating System" ,value=Model.OS})
                        @Html.ValidationMessageFor(x => x.OS)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x=>x.Screen_Size)
                        @Html.TextBoxFor(x => x.Screen_Size, new { @class = "form-control", placeholder = "Screen Size" ,value=Model.Price})
                        @Html.ValidationMessageFor(x => x.Screen_Size)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x=>x.Price)
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", placeholder = "Price" ,value=Model.Price})
                        @Html.ValidationMessageFor(x => x.Price)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x=>x.Processor)
                        @Html.TextBoxFor(x => x.Processor, new { @class = "form-control", placeholder = "Processor" ,value=Model.Processor})
                        @Html.ValidationMessageFor(x => x.Processor)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x=>x.Weight)
                        @Html.TextBoxFor(x => x.Weight, new { @class = "form-control", placeholder = "Weight" ,value=Model.Weight})
                        @Html.ValidationMessageFor(x => x.Weight)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x=>x.Battery)
                        @Html.TextBoxFor(x => x.Battery, new { @class = "form-control", placeholder = "Batery Capacity" ,value=Model.Battery})
                        @Html.ValidationMessageFor(x => x.Battery)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x=>x.Others)
                        @Html.TextBoxFor(x => x.Others, new { @class = "form-control", placeholder = "others" ,value=Model.Others})
                        @Html.ValidationMessageFor(x => x.Others)
                    </div>
                    <div class="form-group form-control">                        
                    </div>
                    <input type="file" id="image" name="image"/>
                    <!-- Change this to a button or input when using this as a form -->
                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Done" />
                </form>
            </div>
        </div>
    </div>
</div>



