
@model MobileEra.Models.user
@if (Session["user"] != null)
{
    <p>You Already Logged in @Session["user"]</p>
}
else
{

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h2>Welcome to Mobile Era</h2>
                        <hr class="colorgraph" />
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">                                                             
                        <p style="color:red">@ViewBag.error</p>
                        <form role="form" action="/account/LoginDone" method="post">
                            <div class="form-group bs-float-label">
                                @Html.LabelFor(x => x.Email, new { @class = "float-label" })
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control float-input", placeholder = "Your E-mail" })
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>
                            <div class="form-group bs-float-label">
                                @Html.LabelFor(x => x.Password, new { @class = "float-label" })
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control float-input", placeholder = "Your Password" })
                                @Html.ValidationMessageFor(x => x.Password, String.Empty, new { @class = "text text-danger has-error" })
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" id="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Login" />
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
}
