
@model MobileEra.Models.user

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.title | Mobile Era</title>

    <!-- Core CSS - Include with every page -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />    
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    <!-- SB Admin CSS - Include with every page -->    
    <link href="~/Content/sb-admin.css" rel="stylesheet" />

     <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>    
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery-1.7.1.intellisense.js"></script>
</head>

<body>

    <div class="container" style="margin-top:25px">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Welcome to Mobile Era</h2>
                        <hr class="colorgraph" />
                        <h3 class="panel-title">Sign Up- Please Provide the following Fields</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/account/SignupDone" method="post">
                            <div class="form-group bs-float-label">
                                @Html.LabelFor(x => x.Full_Name, new { @class = "float-label" })
                                @Html.TextBoxFor(x => x.Full_Name, new { @class = "form-control float-input", placeholder = "Your Full Name" })
                                @Html.ValidationMessageFor(x => x.Full_Name, String.Empty, new { @class = "text text-danger has-error" })
                            </div>
                            <div class="form-group bs-float-label">
                                @Html.LabelFor(x => x.Email, new { @class = "float-label" })
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control float-input", placeholder = "Your E-mail" })
                                @Html.ValidationMessageFor(x => x.Email, String.Empty, new { @class = "text text-danger has-error" })
                                <p id="msg"></p>
                            </div>
                            <div class="form-group bs-float-label">
                                @Html.LabelFor(x => x.Password, new { @class = "float-label" })
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control float-input", placeholder = "Your New Password" })
                                @Html.ValidationMessageFor(x => x.Password, String.Empty, new { @class = "text text-danger has-error" })
                            </div>
                            <div class="form-group bs-float-label">
                                @Html.LabelFor(x => x.Security_Question, new { @class = "float-label" })
                                @Html.TextBoxFor(x => x.Security_Question, new { @class = "form-control float-input", placeholder = "Security Question" })
                                @Html.ValidationMessageFor(x => x.Security_Question, String.Empty, new { @class = "text text-danger has-error" })
                            </div>
                            <div class="form-group bs-float-label">
                                @Html.LabelFor(x => x.Answer, new { @class = "float-label" })
                                @Html.TextBoxFor(x => x.Answer, new { @class = "form-control float-input", placeholder = "Your Answer" })
                                @Html.ValidationMessageFor(x => x.Answer, String.Empty, new { @class = "text text-danger has-error" })
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign Up" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core Scripts - Include with every page -->    
    <script src="~/Scripts/jquery-1.10.2.js"></script>    
    <script src="~/Scripts/bootstrap.min.js"></script>    
   
   
    <script>
        $(function () {
            $("#Email").focus(function () {
                $("#msg").text(' ');
            });
            $("#Email").blur(function () {
                $.getJSON("/Account/isAvailable?email=" + $("#Email").val(), function (data) {
                    if (data==true) {
                        $("p#msg").text("E-mail Available").removeClass("text-danger").addClass("text-success");                        
                    }
                    else {
                        $("#msg").text("E-mail Already in use Please use different one").addClass("text-danger");
                    }
                });
            });
        });
    </script>
</body>

</html>
